* {
  text-decoration: none;
  font-family: poppins;
}

/* Start: header section */
.navbar {
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.nav-item .nav-link {
  color: white !important;
}
.navbar-fixed {
  background-color: #002374;
  backdrop-filter: blur(5px);
  box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.2);
}
.unduh {
  width: 235px;
  background-color: white;
  border-radius: 10px;
  color: #002374;
}
/* End: header section */

/* Start: Modal section */
.modals {
  z-index: 99999;
}
/* End: Modal section */

.jumbotron {
  background-image: url("../img/bg-hero.png");
  height: 678px;
  border-radius: 0px;
}
.jum-title {
  position: relative;
  width: 55%;
  margin-top: -40px;
}
.jum-title h4 {
  font-size: 35px;
  color: white;
}
.jum-title h4 span {
  color: #ff872e;
}
.jum-title p {
  color: white;
  font-size: 16px;
}

.utulity .btn-1 {
  background-color: #ff872e;
  width: 192px;
  color: white;
  border-radius: 40px;
  transition: 0.8s;
}

.utulity .btn-2 {
  background-color: #30e277;
  color: white;
  width: 192px;
  border-radius: 40px;
  transition: 0.8s;
}
.utulity .btn-1:hover {
  color: #dadada;
  background-color: #d3722a;
}
.utulity .btn-2:hover {
  color: #dadada;
  background-color: #259e53;
}

.img-jumbo {
  position: relative;
  width: 45%;
  margin-top: -71px;
}
.img-jumbo img {
  position: relative;
  width: 100%;
  display: block;
  background-size: cover;
  margin-left: 32px;
}

/* Start: Service section */
.card {
  border: none;
}

.service-title h4 {
  font-size: 48px;
  font-weight: 600;
  color: #3b41e3;
}

.service-title p {
  font-size: 25px;
}

.icon-service {
  background-image: url("../img/bg-service.png");
  background-size: cover;
  width: 250px;
  height: 180px;
  border-radius: 10px;
}

.icon-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card p {
  display: none;
}

.icon .icon-1 {
  width: 20px;
  height: 40px;
  margin: auto;
}

.icon .icon-2 {
  width: 50px;
}

.icon .icon-3,
.icon-4,
.icon-5,
.icon-6 {
  width: 40px;
}

.icon .icon-1,
.icon-2,
.icon-3,
.icon-4,
.icon-5,
.icon-6 {
  margin-bottom: 10px;
}

.icon-card h5 {
  font-weight: 600;
  font-size: 17px;
  display: block;
}

.icon-card p {
  font-size: 14px;
  display: block;
}
/* End: Service section */

/* Start: Merk section */
.card-merk {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
}
.merk-item img {
  width: 120px;
}
/* End: Merk section */

/* Start: New arrival section */
.new-section {
  background-color: rgba(59, 116, 227, 0.2);
  padding: 50px 0px;
}
.new-text h4 {
  font-size: 50px;
  color: #3b41e3;
  font-weight: 600;
}
.new-text {
  font-size: 25px;
}
.box {
  width: 800px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden;
}
.slider {
  height: 320px;
  position: relative;
}
.slider img {
  width: 100%;
  hegiht: 100%;
  box-sizing: border-box;
}
/* End: New arrival section */

/* Start: Contact us */
.card-contact {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  border-radius: 15px;
}
.contact-text h4 {
  font-size: 26px;
  font-weight: 600;
}
.contact-text .contact-p {
  font-size: 26px;
  color: black;
}
.btn-3 {
  background-color: #25d366;
  width: 568px;
  border-radius: 40px;
  font-size: 26px;
  color: white;
  transition: 0.8s;
}
.btn-3:hover {
  color: #dadada;
  background-color: #259e53;
}
.btn-3 img {
  width: 40px;
}
.btn-4 {
  background-color: #ff872e;
  width: 568px;
  border-radius: 40px;
  font-size: 26px;
  color: white;
  transition: 0.8s;
}
.btn-4:hover {
  color: #dadada;
  background-color: #d3722a;
}
/* End: Contact us */

/* Start: Find us section */
.find-us {
  background-image: url("../img/bg-footer.png");
  padding: 5px;
}
.find-item {
  padding: 40px;
}
.find-item .find-map {
  height: 300px;
}
.find-item .find-map iframe {
  width: 100%;
  height: 100%;
}
.find-list .list-text {
  margin-top: 40px;
}
/* End: Find us section */

/* Start: Footer section */
.footer-text {
  padding: 20px;
}
.footer-text h4 {
  font-size: 20px;
}
/* End: Footer section */

@media (max-width: 375px) {
  /* Start: Navbar section */
  .navbar {
    background-color: white !important;
  }
  .nav-item .nav-link {
    color: black !important;
  }
  .navbar-brand img {
    width: 70px;
    height: 50px;
  }
  .unduh {
    border: black 1px solid;
    background-color: white;
    border-radius: 10px;
    color: #002374;
    margin: auto;
    outline: none;
  }
  .unduh:hover {
    color: ;
  }
  /* End: Navbar section */

  /* Start: Jumbotron section */
  .jumbotron {
    height: 500px;
    margin-top: 0px;
    position: relative;
    border-radius: 0px;
  }
  .jum-title {
    position: absolute;
    width: 90%;
    margin-top: 400px;
  }
  .jum-title h4 {
    font-size: 20px;
    color: white;
    text-align: center;
  }
  .jum-title h4 span {
    color: #ff872e;
  }
  .jum-title p {
    color: white;
    font-size: 10px;
    text-align: center;
  }
  .img-jumbo {
    display: none;
    position: relative;
    width: 100%;
  }
  .utulity {
    text-align: center;
  }
  .utulity a {
    font-size: 12px;
  }
  .utulity .btn-1 {
    width: 159px;
    border-radius: 40px;
  }

  .utulity .btn-2 {
    width: 159px;
    border-radius: 40px;
  }
  /* End: Jumbotron section */

  /* Start: Service section */
  .service-title h4 {
    font-size: 14px;
    font-weight: 600;
  }

  .service-title p {
    font-size: 9px;
  }

  .icon-service {
    width: 75px;
    height: 75px;
  }

  .card p {
    display: block;
    font-size: 11px;
    font-weight: 500px;
  }

  .icon .icon-1 {
    width: 18px;
    height: 35px;
  }

  .icon .icon-2 {
    width: 50px;
    margin: auto;
  }

  .icon .icon-3 {
    width: 35px;
  }

  .icon .icon-4,
  .icon-6 {
    width: 40px;
    margin: auto;
  }

  .icon .icon-5 {
    width: 45px;
  }

  .icon .icon-1,
  .icon-2,
  .icon-3,
  .icon-4,
  .icon-5,
  .icon-6 {
    margin-bottom: 0px;
  }

  .icon-card h5 {
    display: none;
  }

  .icon-card p {
    display: none;
  }
  /* End: Service section */

  /* Start: Merk section */
  .card-merk {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  }
  .merk-item img {
    width: 50px;
  }
  /* End: Merk section */

  /* Start: New Arrival */
  .new-section {
    padding: 20px 0px;
  }
  .new-text h4 {
    font-size: 14px;
    color: #3b41e3;
    font-weight: 600;
  }
  .new-text {
    font-size: 9px;
  }
  .box {
    width: 250px;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
  }
  .slider {
    height: 120px;
    position: relative;
  }
  .slider img {
    width: 100%;
    hegiht: 100%;
    box-sizing: border-box;
  }
  /* End: New Arrival */

  /* Start: Contact us */
  .card-contact h4 {
    font-size: 14px;
    font-weight: 600;
  }
  .card-contact span {
    font-size: 12px;
  }
  .btn-3 {
    width: 240px;
    font-size: 12px;
  }
  .btn-3 img {
    width: 20px;
  }
  .btn-4 {
    width: 240px;
    font-size: 12px;
  }
  /* End: Contact us */

  /* Start: Find us section */
  .find-item {
    padding: 5px;
  }
  .find-item .find-map {
    height: 200px;
  }
  .find-item .find-map iframe {
    width: 100%;
    height: 100%;
  }
  .find-item .find-list {
    text-align: center;
  }
  .find-list ul li {
    font-size: 12px;
  }
  .find-list ul li img {
    width: 80px;
  }
  .find-list .list-text {
    margin-top: 0px;
    text-align: justify;
  }
  /* End: Find us section */

  /* Start: Footer section */
  .footer-text {
    padding: 20px;
  }
  .footer-text h4 {
    font-size: 12px;
  }
  /* End: Footer section */
}
